In [1]:
import requests
import json
import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
conn = mysql.connector.connect(host="104.155.111.115",user="root",password="corentin", database="meteo")
cursor = conn.cursor()
#conn.close()

InterfaceError: 2003: Can't connect to MySQL server on '104.155.111.115:3306' (101 Network is unreachable)

In [ ]:
Date=[]
Temperature=[]
Precipitation=[]
cursor.execute("SELECT m.insert_date, m.temperature, m.rain FROM Meteo m JOIN Ville v on v.id_ville=m.id_ville WHERE v.nom_ville = 'paris';")
rows = cursor.fetchall()
for row in rows:
            Date.append('{0}'.format(row[0]))
            Temperature.append('{0}'.format(row[1]))
            Precipitation.append('{0}'.format(row[2]))

In [ ]:
item = []
genre = []
prix = []
cursor.execute("SELECT v.item,v.genre,v.prix FROM Vetement v")
rows = cursor.fetchall()
for row in rows:
            item.append('{0}'.format(row[0]))
            genre.append('{0}'.format(row[1]))
            prix.append('{0}'.format(row[2]))

In [ ]:
df_v = pd.DataFrame({"item" : item, "genre" : genre, "prix" : prix} , columns = ["item", "genre", "prix"] )

In [ ]:
df_v.head()

In [ ]:
val_genre = df_v.genre.value_counts()

In [ ]:
val_genre

In [ ]:
fig1,ax = plt.subplots()
ax.pie(val_genre,labels=["hommes","femmes","parapluies"],autopct='%1.1f%%',startangle=90)
plt.title("Pourcentage du nombre d'articles en fonction du sexe")
ax.axis('equal')
plt.show()

In [ ]:
nb_vet = df_v['item'].value_counts()
nb_vet

In [ ]:
df_vet = pd.DataFrame(nb_vet)

In [ ]:
df_vet.plot(y='item',figsize=(16,5), kind='bar')
plt.show()

In [ ]:
df_vet_prix = pd.DataFrame({'item': item,'prix':prix},columns=['item','prix'])
df_vet_prix.prix = pd.to_numeric(df_vet_prix.prix)

In [ ]:
df4 = df_vet_prix['prix'].groupby(df_vet_prix['item'])

In [ ]:
df5 = df4.describe()
df5

In [ ]:
plt.boxplot(df5,labels=["deb","jupe","pant","para","pull","short","ts"])
plt.title("Comparatif de prix en fonction du type d'habit")
plt.show()

In [ ]:
print(Date)
print(Temperature)
print(Precipitation)

In [ ]:
df = pd.DataFrame({"Date" : Date, "Temperature" : Temperature, "Precipitation" : Precipitation} , columns = ["Date", "Temperature", "Precipitation"] )

In [ ]:
df.tail()